{{#if message}}

    <div class="message"> {{message}} </div>
    
{{/if}}
<div>
  <form method="POST">
   <label>El.pastas</label>
   <br>
   <input type="email" name="mail"/>
   <br>
   <br>
   <label>Slaptazodis</label>
    <br>
   <input type="password" name="passw"/>
    <br>
    <br>
   <button type="submit">Siusti</button>
  </form>

  <br>
{{readers}} <br>
</div>

