<form  method="POST" action="/loginsubmit" enctype="multipart/form-data" class="container d-flex flex-row justify-content-center">

 <section class="col-5 align-items-center border p-3 mt-3 ms-4">
 
   <h6>Ad Detail</h6>
    <label>Project Title</label>
    
        <input class="shadow form-control rounded-pill mt-2 mb-3" placeholder="Title" type="text" required></input>
        
    <label>Category</label>
    
    <select class="shadow form-control rounded-pill mt-2 mb-3">
        <option>Select a Category</option>
        <option>Category 1</option>
        <option>Category 2</option>
    </select>
    
    <label>Price</label>
    
        <input class="shadow form-control rounded-pill mt-2 mb-3" placeholder="Add your price" type="number" required></input>
        
    <label>Photos For Your Ad</label>
    
       <div>
            <input class="shadow form-control mt-2 mb-3" type="file" name="failas" required/>
            <input class="shadow form-control mt-2 mb-3" type="file" name="failas" required/>
            <input class="shadow form-control mt-2 mb-3" type="file" name="failas" required/>
       </div>
       
    <label>Ad Description</label
    >
        <textarea rows="6" class="shadow form-control mt-2 mb-3"></textarea>
 
 </section>   


<section class="col-4 align-items-center border p-3 ms-5 mt-3 me-4">
 
  <h6>Change Password</h6>
  
    <label>First Name *</label>
        <iput class="names shadow form-control rounded-pill mt-2 mb-3" type="text" required></iput>
    <label>Last Name *</label>
        <iput class="names shadow form-control rounded-pill mt-2 mb-3" type="text" required></iput>
    <label>Phone</label>
        <input class="shadow form-control rounded-pill mt-2 mb-3" type="number" required></input>
    <label>Enter Address</label>
        <input class="shadow form-control rounded-pill mt-2 mb-3" type="address" required></input>
    <label>Country</label>
    <select class="shadow form-control rounded-pill mt-2 mb-3">
        <option>Select a Country</option>
        <option>Country 1</option>
        <option>Country 2</option>
    </select>
    <label>State</label>
    <select class="shadow form-control rounded-pill mt-2 mb-3">
        <option>Select a State</option>
        <option>State 1</option>
        <option>State 2</option>
    </select>
    <label>City</label>
    <select class="shadow form-control rounded-pill mt-2 mb-3">
        <option>Select a City</option>
        <option>City 1</option>
        <option>City 2</option>
    </select>
   <button class="btn btn-success rounded-pill ps-5 pe-5" type="submit">Ad Post</button>

 </section>
</form>


