<h5>Ad Detail</h5>
<form  method="POST" action="/loginsubmit" enctype="multipart/form-data">
 <section>

    <label>Project Title</label>
        <iput type="text" required></iput>

    <label>Project Title </label>
    <select name="category">
        <option value="1">Select a Category</option>
        <option value="2">Category 1</option>
        <option value="3">Category 2</option>
    </select>

    <label>Price</label>
        <input type="number" required></input>

    <label>Photos For Your Ad</label>
       <div>
            <input type="file" name="failas" required/>
            <input type="file" name="failas" required/>
            <input type="file" name="failas" required/>
       </div>

    <label>Ad Description</label>
        <textarea></textarea>

 </section>   

 <section>
  <h5>Change Password</h5>

    <label>First Name</label>
        <iput type="text" required></iput>

    <label>Last Name</label>
        <iput type="text" required></iput>

    <label>Phone</label>
        <input type="number" required></input>

    <label>Enter Address</label>
        <input type="address" required></input>

    <label>Country</label>
    <select name="country">
        <option value="1">Select a Country</option>
        <option value="2">Country 1</option>
        <option value="3">Country 2</option>
    </select>

    <label>State</label>
    <select name="state">
        <option value="1">Select a State</option>
        <option value="2">State 1</option>
        <option value="3">State 2</option>
    </select>

    <label>City</label>
    <select name="city">
        <option value="1">Select a City</option>
        <option value="2">City 1</option>
        <option value="3">City 2</option>
    </select>

   <button type="submit">Siusti</button>

 </section>
</form>


