cia yra pagrindinis puslapis.

<h1>Labas rytas index.hbs</h1>
<p>veikia narsykle port:3000</p>
<p>nekeisti eilutej "app.engine('hbs', handlebars.engine" reikesmes 'hbs' i kita reiksme, nes nerodys narsyklej</p>
<p>nekeisti eilutej "app.set('view engine', 'hbs');" reikesmes 'hbs' i kita reiksme, nes nerodys narsyklej</p>